{% extends "client/base.twig" %}

{% block content %}
    <div class="grant">
	<div class="weui-msg authorization_code">
	    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
	    <div class="weui-msg__text-area">
	        <h2 class="weui-msg__title">Welcome to the OAuth2.0 Server</h2>
	        <p class="weui-msg__desc">You have been sent here by demoapp. demoapp would like to access the following data:</p>
	        <p class="weui-msg__desc"><input id="weuiAgree" type="checkbox" class="weui-agree__checkbox" checked="checked" disabled="disabled"> friends, memories</p>
	    </div>
	    <div class="weui-msg__opr-area">
	        <form class="weui-btn-area" action="{{ authorize_post }}" method="post">
                <input type="submit" class="weui-btn weui-btn_primary" value="Yes, I Authorize This Request"/>
                <input type="hidden" name="authorize" value="1"/>
	        </form>
	        <form id="cancel" class="weui-btn-area" action="{{ authorize_post }}" method="post">
	        	<a href="#" class="weui-btn weui-btn_default" onclick="document.getElementById('cancel').submit()">Cancel</a>
                <input type="hidden" name="authorize" value="0"/>
	        </form>
	    </div>
	    <!-- <div class="page__ft">
	        <a href="javascript:home()"><img src="/images/icon_footer.png" /></a>
	    </div> -->
	</div>
	</div>
{% endblock %}
