{#{% extends "client/base.twig" %}

{% block content %}
    #}{#<h2>OAuth2.0 Demo Application</h2>#}{#
    <div class="page">
        <div class="hd">
            <h1 class="page_title">#}{#OAuth2 Demo App#}{#Demo</h1>
            <p class="page_desc">
                This is an application that demos some of the basic OAuth2.0 Workflows.
            </p>
        </div>
        <div class="bd">
            <div class="weui-grids">
                <a href="javascript:;" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="/images/icon_tabbar.png" alt="">
                    </div>
                    <p class="weui-grid__label">Authorization Code</p>
                </a>
                <a href="javascript:;" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="/images/icon_tabbar.png" alt="">
                    </div>
                    <p class="weui-grid__label">Refresh Token</p>
                </a>
                <a href="javascript:;" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="/images/icon_tabbar.png" alt="">
                    </div>
                    <p class="weui-grid__label">Implicit</p>
                </a>
                <a href="javascript:;" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="/images/icon_tabbar.png" alt="">
                    </div>
                    <p class="weui-grid__label">User Credentials</p>
                </a>
                <a href="javascript:;" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="/images/icon_tabbar.png" alt="">
                    </div>
                    <p class="weui-grid__label">OpenID Connect</p>
                </a>
            </div>
        </div>
    </div>
    #}{#<div class="simpleTabs">
        <ul class="simpleTabsNavigation">
            <li><a href="#authcode">Authorization Code</a></li>
            <li><a href="#refresh">Refresh Token</a></li>
            <li><a href="#implicit">Implicit</a></li>
            <li><a href="#usercred">User Credentials</a></li>
            <li><a href="#openid">OpenID Connect</a></li>
        </ul>
        <div class="simpleTabsContent">{% include 'client/grant_types/_authorization_code.twig' %}</div>
        <div class="simpleTabsContent">{% include 'client/grant_types/_refresh_token.twig' %}</div>
        <div class="simpleTabsContent">{% include 'client/grant_types/_implicit.twig' %}</div>
        <div class="simpleTabsContent">{% include 'client/grant_types/_user_credentials.twig' %}</div>
        <div class="simpleTabsContent">{% include 'client/grant_types/_openid_connect.twig' %}</div>
    </div>#}{#
{% endblock %}#}


<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>WeUI</title>
    <link rel="stylesheet" href="/weui/dist/style/weui.min.css"/>
    <link rel="stylesheet" href="/css/oauth2.css"/>
    {#<link rel="stylesheet" href="/css/example.css"/>#}
    <script type="text/javascript" src="/weui/dist/example/zepto.min.js"></script>
    {#<script type="text/javascript" src="/weui/dist/example/weui.min.js"></script>
    <script type="text/javascript" src="/weui/dist/example/example.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>#}
</head>
<body ontouchstart>

<div class="page">
    <div class="page__hd">
        <h1 class="page__title">OAuth2 Demo App</h1>
        <p class="page__desc">This is an application that demos some of the basic OAuth2.0 Workflows.</p>
    </div>
    <div class="weui-grids">
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="/images/icon_nav_article.png" alt="">
            </div>
            <p class="weui-grid__label">Authorization Code</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="/images/icon_nav_button.png" alt="">
            </div>
            <p class="weui-grid__label">Refresh Token</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui-grid__label">Implicit</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="/images/icon_nav_panel.png" alt="">
            </div>
            <p class="weui-grid__label">User Credentials</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="/images/icon_nav_toast.png" alt="">
            </div>
            <p class="weui-grid__label">OpenID Connect</p>
        </a>
    </div>
</div>
</body>

