{% extends "client/base.twig" %}

{% block content %}
<div class="container" id="container"></div>
<!-- home page -->
<script type="text/html" id="tpl_home">
    <div class="page">
        <div class="page__hd">
            <h1 class="page__title">OAuth2 App</h1>
            <p class="page__desc">This is an application that demos some of the basic OAuth2.0 Workflows.</p>
        </div>
        <div class="weui-grids">
            <a href="#authorization_code" class="weui-grid js_item">
                <div class="weui-grid__icon">
                    <img src="/images/icon_nav_button.png" alt="">
                </div>
                <p class="weui-grid__label">Authorization Code</p>
            </a>
            <a href="#refresh_token" class="weui-grid js_item">
                <div class="weui-grid__icon">
                    <img src="/images/icon_nav_button.png" alt="">
                </div>
                <p class="weui-grid__label">Refresh Token</p>
            </a>
            <a href="#implicit" class="weui-grid js_item">
                <div class="weui-grid__icon">
                    <img src="/images/icon_nav_button.png" alt="">
                </div>
                <p class="weui-grid__label">Implicit</p>
            </a>
            <a href="#user_credentials" class="weui-grid js_item">
                <div class="weui-grid__icon">
                    <img src="/images/icon_nav_button.png" alt="">
                </div>
                <p class="weui-grid__label">User Credentials</p>
            </a>
            <a href="#openid_connect" class="weui-grid js_item">
                <div class="weui-grid__icon">
                    <img src="/images/icon_nav_button.png" alt="">
                </div>
                <p class="weui-grid__label">OpenID Connect</p>
            </a>
        </div>
        <div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__text">Copyright &copy; 2016 emanci.me</p>
            </div>
        </div>
    </div>
</script>

{% include 'client/grant_types/_authorization_code.twig' %}
{% include 'client/grant_types/_refresh_token.twig' %}
{% include 'client/grant_types/_implicit.twig' %}
{% include 'client/grant_types/_user_credentials.twig' %}
{% include 'client/grant_types/_openid_connect.twig' %}

{% endblock %}
