{% extends "client/base.twig" %}

{% block content %}
<div class="container" id="container"></div>
<!-- home page -->
<script type="text/html" id="tpl_home">
    <div class="page">
        <div class="page__hd">
            <h1 class="page__title">OAuth2 Demo App</h1>
            <p class="page__desc">This is an application that demos some of the basic OAuth2.0 Workflows.</p>
        </div>
        <div class="weui-grids">
            <a href="#authorization_code" class="weui-grid js_item">
                <div class="weui-grid__icon">
                    <img src="/images/icon_nav_button.png" alt="">
                </div>
                <p class="weui-grid__label">Authorization Code</p>
            </a>
            <a href="javascript:;" class="weui-grid js_item">
                <div class="weui-grid__icon">
                    <img src="/images/icon_nav_button.png" alt="">
                </div>
                <p class="weui-grid__label">Refresh Token</p>
            </a>
            <a href="javascript:;" class="weui-grid js_item">
                <div class="weui-grid__icon">
                    <img src="/images/icon_nav_button.png" alt="">
                </div>
                <p class="weui-grid__label">Implicit</p>
            </a>
            <a href="javascript:;" class="weui-grid js_item">
                <div class="weui-grid__icon">
                    <img src="/images/icon_nav_button.png" alt="">
                </div>
                <p class="weui-grid__label">User Credentials</p>
            </a>
            <a href="javascript:;" class="weui-grid js_item">
                <div class="weui-grid__icon">
                    <img src="/images/icon_nav_button.png" alt="">
                </div>
                <p class="weui-grid__label">OpenID Connect</p>
            </a>
        </div>
    </div>
</script>

{% include 'client/grant_types/_authorization_code.twig' %}

<script type="text/javascript" src="/weui/dist/example/zepto.min.js"></script>
<script type="text/javascript" src="/weui/dist/example/weui.min.js"></script>
<script type="text/javascript" src="/js/demo_app.js"></script>
{% endblock %}
