<p>
    The <code>Refresh Token</code> grant type is typically used in tandem with the <code>Authorization Code</code> grant
    type. Click the "Authorize" button to receive an authorization code:
</p>
<a class="button" href="{{ refresh_token_url }}">Authorize</a>