<script type="text/html" id="tpl_user_credentials">
    <div class="page">
    	<div class="weui-msg">
            <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">User Credentials Page</h2>
                <p class="weui-msg__desc">The <code>User Credentials</code> grant type is a Two-Legged approach that allows you to obtain an <code>Access Token</code> in exchange for a set of end-user credentials.
                </p>
                <p class="weui-msg__desc">
                	The OAuth2 Server supports the following user credentials
                </p>
                <p class="weui-msg__desc"><a href="javascript:;">Username: emanci</a></p>
                <p class="weui-msg__desc"><a href="javascript:;">Password: 12345qwert</a></p>
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <a href="{{user_credentials_url}}" class="weui-btn weui-btn_primary">Authorize</a>
                </p>
            </div>
            <div class="weui-msg__extra-area">
                <div class="weui-footer">
                    <p class="weui-footer__text">Copyright &copy; 2016 emanci.me</p>
                </div>
            </div>
        </div>
    </div>
</script>
