{% extends "client/base.twig" %}

{% block content %}
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">Token Retrieved</h2>
            <p class="weui-msg__desc">Access Token</p>
            <p class="weui-msg__desc" id="access_token_display">
                <a onclick="showAccessToken();">(click here to pull from URL fragment)</a>
            </p>
            <p class="weui-msg__desc" id="id_token">
                And because you added "id_token" to your response type, you also received an ID token<br/>
                ID Token<br/>
                <span id="id_token_display">
                    <a onclick="showIDToken();">(click here to pull from URL fragment)</a>
                </span>
            </p>
        </div>

        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a id="request_resource" href="{{request_resource_route}}" onclick="this.href += '?token='+getAccessToken().access_token;" class="weui-btn weui-btn_primary">Make a resource request</a>
                <a href="javascript:history.back();" class="weui-btn weui-btn_default">Back</a>
            </p>
        </div>
    </div>
    <!-- Javascript for pulling the access token from the URL fragment -->
    <script>
        function getAccessToken() {
            var queryString = window.location.hash.substr(1);
            var queries = queryString.split("&");
            var params = {}
            for (var i = 0; i < queries.length; i++) {
                pair = queries[i].split('=');
                params[pair[0]] = pair[1];
            }

            return params;
        }

        $('#id_token').hide();
        $('#request_resource').hide();

        // show the token parsed from the fragment, and show the next step
        var showAccessToken = function (e) {
            $('#access_token_display').text(accessToken.access_token);
            $('#request_resource').show();
        };

        var showIDToken = function (e) {
            $('#id_token_display').text(accessToken.id_token);
        };

        var accessToken = getAccessToken();
        if (accessToken.id_token) {
            $('#id_token').show();
        }
    </script>
{% endblock %}
