{% extends "client/base.twig" %}

{% block content %}
    <h3>Token Retrieved!</h3>
    <p>
        But let's pretend this access token has expired. Luckily, it came with a refresh token!
    </p>
    <pre>
        <code>  Refresh Token: {{ response.refresh_token }}  </code>
    </pre>
    <a class="button" href="{{ request_refresh_token_url }}">renew your access token</a>
    <div class="help">
        <em>The refresh token can be used to get a new access token after the access token hasexpired.</em>
    </div>
    <a href="/oauth2/">back</a>
{% endblock %}
