<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <title>WeUI登录</title>
    <link rel="stylesheet" href="/weui/dist/style/weui.min.css"/>
    <script type="text/javascript" src="/weui/dist/example/zepto.min.js"></script>
</head>
<body style="background-color: #F0EFF4;">
<div class="weui-msg">
    <div class="weui-msg__icon-area" style="">
        <i class="weui-icon-success weui-icon_msg"></i>
    </div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title" style="font-size: 16px;">该网页由Emanci开发，向其提供以下权限即可继续操作</h2>
        <p class="weui-msg__desc">
            <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox" checked="checked" disabled="disabled">
            获得你的公开信息（昵称，头像等）
        </p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="javascript:history.back();" class="weui-btn weui-btn_primary">确认登录</a>
        </p>
    </div>
</div>
</body>
</html>